.form-section {
  background-image: url(../img/background.png);
  background-position: top;
  background-size: cover;
  height: 100vh;
  color: #fff; }
  .form-section .form-section-right {
    position: absolute;
    right: 8%;
    width: 370px;
    top: 25%; }
  .form-section #main-form {
    background-color: #001d8a; }
    .form-section #main-form fieldset {
      border-style: none; }
      .form-section #main-form fieldset input:not([type="submit"]),
      .form-section #main-form fieldset textarea {
        padding: 10px;
        width: 100%;
        margin-bottom: 10px;
        font-family: "Open Sans", sans-serif; }
      .form-section #main-form fieldset input[type="submit"] {
        padding: 20px;
        background-color: #ecd407;
        font-size: 1.2em;
        font-weight: 700;
        border: 0px solid #fff;
        margin-bottom: 10px;
        transition: all .3s; }
        .form-section #main-form fieldset input[type="submit"]:hover {
          background-color: #fff;
          cursor: pointer; }
