div.form {
  position: absolute;
  top: 150px;
  right: 70px;
  width: 260px;
  color: #fff; }
  div.form h3 {
    margin-top: 0;
    font-size: 1em; }
    div.form h3 span {
      color: #ecd407; }
  div.form div {
    background-color: #001d8a;
    padding: 10px; }
    div.form div form input {
      display: block;
      width: 100%;
      padding: 5px;
      margin-bottom: 10px; }
    div.form div form textarea {
      width: 100%;
      padding: 5px; }
